body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.head{
  padding: 0 15px;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.title{
  padding: 4rem 2rem;
}
.author{
  text-align: right;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px 10px;
}

.footer button{
  width: 100%;
}